@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.clearfix {
  clear: both !important; }

.container {
  min-height: 1000px; }
  .container .content {
    width: 100%;
    display: block; }

.l-header {
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid red; }
  .l-header .c-hBox {
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    display: block; }
    .l-header .c-hBox__logo {
      float: left; }
      .l-header .c-hBox__logo div {
        display: table; }
        .l-header .c-hBox__logo div img {
          display: table-cell;
          vertical-align: middle; }
    .l-header .c-hBox__rNavi {
      float: right;
      width: 600px; }
      .l-header .c-hBox__rNavi ul {
        list-style-type: none;
        display: table;
        position: relative; }
        .l-header .c-hBox__rNavi ul li {
          display: table-cell;
          text-align: center;
          position: relative;
          border-right: 1px solid #666;
          padding: 7px 15px; }
          .l-header .c-hBox__rNavi ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold; }
            .l-header .c-hBox__rNavi ul li a span {
              display: block;
              font-size: 12px;
              color: #777; }

.activeNav {
  color: #ff0000 !important;
  border-bottom: 1px solid #ff0000; }

/*-------------------------------------------------------------------
    Path
--------------------------------------------------------------------*/
.c-path {
  padding: 10px 0 5px;
  background: #313131;
  background: linear-gradient(#333333, #313131); }
  .c-path ul {
    margin: 0 auto;
    max-width: 1000px; }
    .c-path ul li {
      display: inline-block;
      padding-right: 20px;
      font-size: 12px;
      background: url(../images/icon_arrow_01.png) no-repeat right center; }
      .c-path ul li:last-of-type {
        margin-right: 0;
        padding-right: 0;
        background: none; }
        .c-path ul li:last-of-type a {
          text-decoration: none;
          border-bottom: 1px solid red;
          padding-bottom: 1px; }
      .c-path ul li:first-of-type a {
        text-decoration: none; }
      .c-path ul li a {
        color: #fff; }

.l-footer {
  padding-top: 10px;
  width: 100%; }
  .l-footer .c-footer {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    height: 240px;
    background: url(../images/bg_footer.png) top center; }
    .l-footer .c-footer__Title {
      display: table;
      position: relative;
      list-style-type: none; }
      .l-footer .c-footer__Title li {
        float: left;
        background: none;
        display: table-cell;
        vertical-align: middle;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 15px; }
        .l-footer .c-footer__Title li a {
          text-decoration: none;
          color: #fff;
          background: url(../images/arrow_sidebar.png);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 15px;
          font-size: 14px;
          line-height: 1.5; }
    .l-footer .c-footer .c-fNaviUl__g1, .l-footer .c-footer .c-fNaviUl .c-fNaviUl__g2 {
      width: 40%;
      float: left;
      list-style: none;
      margin-top: 40px;
      margin-left: 20px; }
      .l-footer .c-footer .c-fNaviUl__g1 ul li, .l-footer .c-footer .c-fNaviUl .c-fNaviUl__g2 ul li {
        list-style: none;
        margin-top: 5px; }
        .l-footer .c-footer .c-fNaviUl__g1 ul li a, .l-footer .c-footer .c-fNaviUl .c-fNaviUl__g2 ul li a {
          text-decoration: none;
          color: #fff;
          background: url(../images/arrow_sidebar.png);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 15px;
          font-size: 13px;
          line-height: 1.5; }
    .l-footer .c-footer .c-fNaviUl .c-fNaviUl__g2 ul li a {
      background: url(../images/arrow_sidebar01.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 15px;
      font-size: 13px;
      line-height: 1.5; }

.c-pageTop {
  max-width: 1000px;
  display: block;
  position: relative;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto; }
  .c-pageTop button {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0; }

.coppy-right {
  max-width: 1000px;
  height: 20px;
  display: block;
  margin: 0 auto; }
  .coppy-right h3 {
    color: #fff;
    float: right;
    font-size: 11px; }

.l-sideBar {
  width: 250px;
  float: right; }
  .l-sideBar .Box1, .l-sideBar .Box2 {
    width: 100%;
    margin: 22px 0px; }
    .l-sideBar .Box1 .c-title, .l-sideBar .Box2 .c-title {
      font-size: 18px;
      text-align: center;
      background-color: #333;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 5px 20px; }
      .l-sideBar .Box1 .c-title span, .l-sideBar .Box2 .c-title span {
        color: #fff;
        background-color: #333; }
    .l-sideBar .Box1 .c-sNavi, .l-sideBar .Box2 .c-sNavi {
      width: 98%;
      border-left: 2px solid #333;
      border-right: 2px solid #333;
      border-bottom: 10px solid #333;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
      .l-sideBar .Box1 .c-sNavi li, .l-sideBar .Box2 .c-sNavi li {
        width: 85%;
        border-bottom: 1px solid #333;
        padding: 10px;
        margin-bottom: 5px;
        display: block;
        margin: 0 auto; }
        .l-sideBar .Box1 .c-sNavi li:last-of-type, .l-sideBar .Box2 .c-sNavi li:last-of-type {
          border-bottom: none; }
        .l-sideBar .Box1 .c-sNavi li a, .l-sideBar .Box2 .c-sNavi li a {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          background: url(../images/arrow_sidebar.png);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 20px; }
  .l-sideBar .Box2 .c-title {
    background-color: #c80000; }
    .l-sideBar .Box2 .c-title span {
      background-color: #c80000; }
  .l-sideBar .Box2 .c-sNavi {
    border-left: 2px solid #c80000;
    border-right: 2px solid #c80000;
    border-bottom: 10px solid #c80000; }
    .l-sideBar .Box2 .c-sNavi li {
      width: 85%; }
      .l-sideBar .Box2 .c-sNavi li:last-of-type {
        border-bottom: none; }
      .l-sideBar .Box2 .c-sNavi li a {
        background: url(../images/arrow_sidebar01.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 20px; }
  .l-sideBar .Box3 {
    border-top: 5px solid #333;
    border-bottom: 5px solid #333; }
    .l-sideBar .Box3 li {
      padding: 10px;
      border-bottom: 1px dotted #333;
      list-style: none; }
      .l-sideBar .Box3 li a {
        color: #fff;
        text-decoration: none;
        background: url(../images/arrow_sidebar.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 20px; }

body {
  background-color: #000;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }

.l-main {
  max-width: 1000px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto; }

.l-conts {
  width: 700px;
  float: left;
  margin-right: 50px; }

/*--------------------------------
        slide
--------------------------------*/
.c-slide {
  margin-bottom: 45px; }
  .c-slide .slick-dots {
    position: relative;
    float: right;
    width: 16%;
    height: 10px;
    margin-top: 15px; }
    .c-slide .slick-dots li {
      width: 30px;
      height: 2px;
      margin-left: 10px;
      display: table-cell;
      vertical-align: middle;
      float: left;
      background: url(../images/icon_01.png) no-repeat center top; }
      .c-slide .slick-dots li.slick-active {
        background: url(../images/icon_02.png) no-repeat center top; }
    .c-slide .slick-dots button {
      display: none; }
  .c-slide .slick-prev {
    background: url(../images/prev_arrow.jpg) no-repeat;
    content: " ";
    cursor: pointer;
    height: 24px;
    width: 20px;
    border: none;
    position: absolute;
    left: -30px;
    bottom: 20px; }
  .c-slide .slick-next {
    background: url(../images/next_arrow.png) no-repeat;
    content: " ";
    cursor: pointer;
    height: 24px;
    width: 20px;
    border: none;
    position: absolute;
    right: -30px;
    bottom: 20px; }

.c-titleMain {
  background: url(../images/bg_titleMain.jpg);
  margin-bottom: 15px; }
  .c-titleMain h2 {
    margin-left: 15px;
    font-size: 22px; }

/*-------------------------------------------------------
        houjin title
---------------------------------------------------------*/
.c-houjinTitle, .c-kojinTitle {
  border-bottom: 1px solid #ba9420; }
  .c-houjinTitle h2, .c-kojinTitle h2 {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left !important;
    padding-left: 23.5%; }

/*-------------------------------------------------------
        kojin title
---------------------------------------------------------*/
.items {
  width: 100%; }
  .items .c-titleItem {
    width: 100%;
    height: 60px;
    background-color: #333;
    display: table; }
    .items .c-titleItem h2 {
      color: #dfb433;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 28px;
      font-weight: normal; }
  .items .c-contentItem {
    height: 340px;
    background-color: #444; }
    .items .c-contentItem__list {
      overflow: hidden;
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      line-height: 1.2; }
      .items .c-contentItem__list li {
        list-style: none;
        float: left;
        margin-right: 10px;
        margin-left: 30px; }
        .items .c-contentItem__list li .c-contentItem__list__sList {
          width: 96px;
          overflow: hidden; }
          .items .c-contentItem__list li .c-contentItem__list__sList ul li {
            float: none;
            margin: 0;
            padding: 0; }
            .items .c-contentItem__list li .c-contentItem__list__sList ul li a {
              text-decoration: none;
              color: #fff;
              background: url(../images/red_Arrow02.jpg) no-repeat left center;
              padding-left: 15px;
              font-size: 12px;
              white-space: nowrap; }
    .items .c-contentItem__image {
      width: 100%;
      height: 80px;
      margin-top: 22px;
      margin-bottom: 22px; }
      .items .c-contentItem__image ul li {
        float: left;
        list-style: none;
        margin-right: 13px; }
        .items .c-contentItem__image ul li:nth-child(1) {
          margin-left: 30px; }
    .items .c-contentItem__info {
      width: 100%;
      height: 30px; }
      .items .c-contentItem__info h2 {
        background-color: #c80000;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: normal; }

.c-entry-photo img {
  display: block;
  margin: 0 auto; }

.c-entry-body {
  margin-top: 10px;
  width: 100%; }
  .c-entry-body__01, .c-entry-body__02, .c-entry-body__03 {
    width: 100%;
    background-color: #333;
    border: 1px solid #c80000;
    position: relative;
    margin-bottom: 30px; }
    .c-entry-body__01 img, .c-entry-body__02 img, .c-entry-body__03 img {
      position: absolute;
      top: -12px;
      left: -1px; }
    .c-entry-body__01 p, .c-entry-body__02 p, .c-entry-body__03 p {
      padding: 22px 10px;
      text-align: justify;
      margin-bottom: 0 !important; }
  .c-entry-body__02 {
    border: 1px solid #dfb433; }
  .c-entry-body__03 {
    border: 1px solid #ccc;
    margin-bottom: 10px; }
  .c-entry-body p {
    margin-bottom: 0; }

.c-flow {
  position: relative; }
  .c-flow__body img {
    display: block;
    margin: 0 auto; }
  .c-flow__body__feature01, .c-flow__body__feature02, .c-flow__body__feature03 {
    width: 100%;
    background-color: #444;
    margin-top: 20px;
    overflow: hidden; }
    .c-flow__body__feature01 .feature01-content, .c-flow__body__feature02 .feature01-content, .c-flow__body__feature03 .feature01-content, .c-flow__body__feature02 .feature02-content, .c-flow__body__feature03 .feature02-content, .c-flow__body__feature03 .feature03-content {
      width: 60%;
      float: left;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px; }
      .c-flow__body__feature01 .feature01-content .redS, .c-flow__body__feature02 .feature01-content .redS, .c-flow__body__feature03 .feature01-content .redS, .c-flow__body__feature02 .feature02-content .redS, .c-flow__body__feature03 .feature02-content .redS, .c-flow__body__feature03 .feature03-content .redS, .c-flow__body__feature01 .feature01-content .contact p:last-of-type .redS2, .c-flow__body__feature02 .feature01-content .contact p:last-of-type .redS2, .c-flow__body__feature03 .feature01-content .contact p:last-of-type .redS2, .c-flow__body__feature02 .feature02-content .contact p:last-of-type .redS2, .c-flow__body__feature03 .feature02-content .contact p:last-of-type .redS2, .c-flow__body__feature03 .feature03-content .contact p:last-of-type .redS2 {
        background-color: #c80000;
        color: #fff;
        padding: 5px 10px; }
      .c-flow__body__feature01 .feature01-content p, .c-flow__body__feature02 .feature01-content p, .c-flow__body__feature03 .feature01-content p, .c-flow__body__feature02 .feature02-content p, .c-flow__body__feature03 .feature02-content p, .c-flow__body__feature03 .feature03-content p {
        margin-top: 15px;
        margin-bottom: 12px;
        font-size: 12px; }
      .c-flow__body__feature01 .feature01-content .contact, .c-flow__body__feature02 .feature01-content .contact, .c-flow__body__feature03 .feature01-content .contact, .c-flow__body__feature02 .feature02-content .contact, .c-flow__body__feature03 .feature02-content .contact, .c-flow__body__feature03 .feature03-content .contact {
        width: 100%;
        background-color: #333; }
        .c-flow__body__feature01 .feature01-content .contact h4, .c-flow__body__feature02 .feature01-content .contact h4, .c-flow__body__feature03 .feature01-content .contact h4, .c-flow__body__feature02 .feature02-content .contact h4, .c-flow__body__feature03 .feature02-content .contact h4, .c-flow__body__feature03 .feature03-content .contact h4 {
          text-align: center;
          color: #dfb433;
          font-size: 15px; }
        .c-flow__body__feature01 .feature01-content .contact p, .c-flow__body__feature02 .feature01-content .contact p, .c-flow__body__feature03 .feature01-content .contact p, .c-flow__body__feature02 .feature02-content .contact p, .c-flow__body__feature03 .feature02-content .contact p, .c-flow__body__feature03 .feature03-content .contact p {
          margin: 0;
          padding: 0; }
          .c-flow__body__feature01 .feature01-content .contact p img, .c-flow__body__feature02 .feature01-content .contact p img, .c-flow__body__feature03 .feature01-content .contact p img, .c-flow__body__feature02 .feature02-content .contact p img, .c-flow__body__feature03 .feature02-content .contact p img, .c-flow__body__feature03 .feature03-content .contact p img {
            float: left;
            margin-left: 20px;
            margin-top: 7px; }
          .c-flow__body__feature01 .feature01-content .contact p .tell, .c-flow__body__feature02 .feature01-content .contact p .tell, .c-flow__body__feature03 .feature01-content .contact p .tell, .c-flow__body__feature02 .feature02-content .contact p .tell, .c-flow__body__feature03 .feature02-content .contact p .tell, .c-flow__body__feature03 .feature03-content .contact p .tell {
            vertical-align: middle;
            font-size: 26px; }
          .c-flow__body__feature01 .feature01-content .contact p:last-of-type, .c-flow__body__feature02 .feature01-content .contact p:last-of-type, .c-flow__body__feature03 .feature01-content .contact p:last-of-type, .c-flow__body__feature02 .feature02-content .contact p:last-of-type, .c-flow__body__feature03 .feature02-content .contact p:last-of-type, .c-flow__body__feature03 .feature03-content .contact p:last-of-type {
            margin-left: 20px;
            padding-bottom: 12px; }
            .c-flow__body__feature01 .feature01-content .contact p:last-of-type .redS2, .c-flow__body__feature02 .feature01-content .contact p:last-of-type .redS2, .c-flow__body__feature03 .feature01-content .contact p:last-of-type .redS2, .c-flow__body__feature02 .feature02-content .contact p:last-of-type .redS2, .c-flow__body__feature03 .feature02-content .contact p:last-of-type .redS2, .c-flow__body__feature03 .feature03-content .contact p:last-of-type .redS2 {
              padding: 2px 5px; }
    .c-flow__body__feature01 .feature01-image, .c-flow__body__feature02 .feature01-image, .c-flow__body__feature03 .feature01-image, .c-flow__body__feature02 .feature02-image, .c-flow__body__feature03 .feature02-image, .c-flow__body__feature03 .feature03-image {
      width: 35%;
      margin-top: 20px;
      float: right; }
  .c-flow__body .arrowF, .c-flow__body .arrowF1, .c-flow__body .arrowK, .c-flow__body .arrowK1 {
    position: absolute;
    left: 25px;
    top: 408px; }
  .c-flow__body .arrowF1 {
    top: 628px; }
  .c-flow__body .arrowK, .c-flow__body .arrowK1 {
    top: 590px; }
  .c-flow__body .arrowK1 {
    top: 810px; }
  .c-flow__body__feature02 .feature02-image, .c-flow__body__feature03 .feature02-image, .c-flow__body__feature03 .feature03-image {
    padding-bottom: 20px; }
  .c-flow__body__feature04 {
    margin-top: 35px; }
    .c-flow__body__feature04 .feature04-title {
      background-color: #333;
      border-bottom: 2px solid #000;
      width: 100%; }
      .c-flow__body__feature04 .feature04-title h2 {
        color: #dfb433;
        font-size: 18px;
        padding: 12px 20px; }
    .c-flow__body__feature04 .feature04-content {
      background-color: #444;
      padding: 10px 20px; }
      .c-flow__body__feature04 .feature04-content ul li {
        list-style: none; }
        .c-flow__body__feature04 .feature04-content ul li a {
          text-decoration: none;
          color: #fff;
          padding-left: 15px;
          background: url(../images/red_Arrow.png) no-repeat left center; }

/*----------------------------
    top
----------------------------*/
.p-top {
  max-width: 1000px;
  position: relative;
  display: block;
  margin: 0 auto; }

/*-------------------------------------------------------------------
    p-top1
--------------------------------------------------------------------*/
.p-top1 {
  background: url(../images/bg_pTop01.png) no-repeat top center;
  width: 100%;
  height: 770px;
  margin-bottom: 45px;
  position: relative; }
  .p-top1 .c-leftBox {
    width: 400px;
    height: 470px;
    left: 50px;
    position: absolute;
    bottom: 30px; }
    .p-top1 .c-leftBox__title {
      height: 30px;
      background-color: #c80000;
      opacity: 1; }
      .p-top1 .c-leftBox__title h2 {
        text-align: center;
        color: #fff;
        font-size: 20px;
        vertical-align: middle; }
    .p-top1 .c-leftBox__content {
      height: 440px;
      background: rgba(255, 255, 255, 0.6); }
      .p-top1 .c-leftBox__content .thumbnail {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        padding-top: 15px; }
        .p-top1 .c-leftBox__content .thumbnail img {
          max-width: 100%;
          float: left;
          margin-left: 5%;
          z-index: 999; }
        .p-top1 .c-leftBox__content .thumbnail .txt {
          float: left;
          width: 58%;
          margin-left: 5%;
          text-align: left; }
          .p-top1 .c-leftBox__content .thumbnail .txt h3 {
            font-size: 16px; }
          .p-top1 .c-leftBox__content .thumbnail .txt span {
            font-size: 13px; }
  .p-top1 .c-rightBox {
    width: 400px;
    height: 470px;
    right: 50px;
    position: absolute;
    bottom: 30px; }
    .p-top1 .c-rightBox__title {
      height: 30px;
      background-color: #000000;
      opacity: 1; }
      .p-top1 .c-rightBox__title h2 {
        text-align: center;
        color: #fff;
        font-size: 20px;
        vertical-align: middle; }
    .p-top1 .c-rightBox__content {
      height: 440px;
      background: rgba(255, 255, 255, 0.6); }
      .p-top1 .c-rightBox__content .thumbnail {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        padding-top: 15px; }
        .p-top1 .c-rightBox__content .thumbnail img {
          max-width: 100%;
          float: left;
          margin-left: 5%;
          z-index: 999; }
        .p-top1 .c-rightBox__content .thumbnail .txt {
          float: left;
          width: 58%;
          margin-left: 5%;
          text-align: left; }
          .p-top1 .c-rightBox__content .thumbnail .txt h3 {
            font-size: 16px; }
          .p-top1 .c-rightBox__content .thumbnail .txt span {
            font-size: 13px; }

/*-------------------------------------------------------------------
    p-top2
--------------------------------------------------------------------*/
.p-top2 {
  width: 100%;
  height: 670px;
  background: url(../images/bg_pTop02.png) no-repeat top center;
  position: relative; }
  .p-top2 .c-transBox, .p-top2 .c-transBox02, .p-top2 .c-transBox03, .p-top2 .c-transBox04 {
    width: 450px;
    height: 230px;
    margin-left: 35px;
    top: 150px;
    position: absolute; }
    .p-top2 .c-transBox__title h2, .p-top2 .c-transBox02__title h2, .p-top2 .c-transBox03__title h2, .p-top2 .c-transBox04__title h2 {
      background-color: #c80000;
      color: #fff;
      font-size: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 15px;
      line-height: 1em; }
    .p-top2 .c-transBox__content, .p-top2 .c-transBox02__content, .p-top2 .c-transBox03__content, .p-top2 .c-transBox04__content {
      width: 100%;
      height: 190px;
      background: url(../images/bg_car01.jpg) no-repeat top center; }
      .p-top2 .c-transBox__content h4, .p-top2 .c-transBox02__content h4, .p-top2 .c-transBox03__content h4, .p-top2 .c-transBox04__content h4 {
        padding-left: 15px;
        font-size: 16px; }
      .p-top2 .c-transBox__content span, .p-top2 .c-transBox02__content span, .p-top2 .c-transBox03__content span, .p-top2 .c-transBox04__content span {
        padding-left: 15px;
        font-size: 24px;
        color: #c80000;
        font-weight: bold; }
      .p-top2 .c-transBox__content ul, .p-top2 .c-transBox02__content ul, .p-top2 .c-transBox03__content ul, .p-top2 .c-transBox04__content ul {
        padding-left: 15px; }
        .p-top2 .c-transBox__content ul li, .p-top2 .c-transBox02__content ul li, .p-top2 .c-transBox03__content ul li, .p-top2 .c-transBox04__content ul li {
          font-size: 13px;
          list-style: none; }
          .p-top2 .c-transBox__content ul li a, .p-top2 .c-transBox02__content ul li a, .p-top2 .c-transBox03__content ul li a, .p-top2 .c-transBox04__content ul li a {
            background: url(../images/red_Arrow.png) no-repeat left center;
            padding-left: 15px;
            text-decoration: none;
            color: #000; }
      .p-top2 .c-transBox__content__notice, .p-top2 .c-transBox02__content__notice, .p-top2 .c-transBox03__content__notice, .p-top2 .c-transBox04__content__notice {
        padding-left: 15px;
        margin-top: 37px; }
        .p-top2 .c-transBox__content__notice h5, .p-top2 .c-transBox02__content__notice h5, .p-top2 .c-transBox03__content__notice h5, .p-top2 .c-transBox04__content__notice h5 {
          font-size: 14px;
          color: #c80000; }
        .p-top2 .c-transBox__content__notice p, .p-top2 .c-transBox02__content__notice p, .p-top2 .c-transBox03__content__notice p, .p-top2 .c-transBox04__content__notice p {
          font-size: 13px; }
  .p-top2 .c-transBox02 {
    right: 35px; }
    .p-top2 .c-transBox02__content {
      background: url(../images/bg_car02.jpg) no-repeat top center; }
  .p-top2 .c-transBox03 {
    bottom: 30px;
    top: 410px; }
    .p-top2 .c-transBox03__content {
      background: url(../images/bg_car03.jpg) no-repeat top center; }
  .p-top2 .c-transBox04 {
    bottom: 30px;
    top: 410px;
    right: 35px; }
    .p-top2 .c-transBox04__content {
      background: url(../images/bg_car04.jpg) no-repeat top center; }

.check, .c-houjinTitle, .c-kojinTitle, .checkHoujin, .checkKojin {
  width: 100%;
  height: 70px;
  background-color: #333;
  display: table;
  margin-bottom: 40px; }
  .check h2, .c-houjinTitle h2, .c-kojinTitle h2, .checkHoujin h2, .checkKojin h2 {
    color: #dfb433;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    font-weight: normal;
    word-spacing: 21px; }

.l-conts {
  /*-------------------------------------------------------------------
      p-top3
  --------------------------------------------------------------------*/
  /*-------------------------------------------------------------------
      p-top4
  --------------------------------------------------------------------*/
  /*-------------------------------------------------------------------
      p-top5
  --------------------------------------------------------------------*/ }
  .l-conts p {
    color: #fff;
    margin-bottom: 40px;
    text-align: left;
    font-size: 13px; }
  .l-conts .p-top3 {
    width: 100%; }
    .l-conts .p-top3 .reuse {
      width: 100%;
      margin-bottom: 50px; }
      .l-conts .p-top3 .reuse .c-titleReuse {
        width: 100%;
        height: 60px;
        background-color: #333;
        display: table; }
        .l-conts .p-top3 .reuse .c-titleReuse h2 {
          color: #dfb433;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 28px;
          font-weight: normal; }
      .l-conts .p-top3 .reuse .c-contentReuse {
        background-color: #444;
        height: 760px; }
        .l-conts .p-top3 .reuse .c-contentReuse__block {
          width: 665px;
          display: block;
          margin: 0 auto;
          padding-top: 20px;
          padding-bottom: 10px;
          overflow: hidden;
          border-bottom: 1px solid #888; }
          .l-conts .p-top3 .reuse .c-contentReuse__block__image {
            float: left;
            width: 30%; }
            .l-conts .p-top3 .reuse .c-contentReuse__block__image img {
              max-width: 100%; }
          .l-conts .p-top3 .reuse .c-contentReuse__block__content {
            float: left;
            width: 65%;
            height: 208px;
            margin-left: 18px;
            position: relative; }
            .l-conts .p-top3 .reuse .c-contentReuse__block__content h3 {
              font-size: 18px;
              color: #dfb433; }
            .l-conts .p-top3 .reuse .c-contentReuse__block__content p {
              font-size: 12px;
              color: #fff;
              line-height: 1.5em; }
            .l-conts .p-top3 .reuse .c-contentReuse__block__content ul {
              position: absolute;
              bottom: 0px;
              display: table; }
              .l-conts .p-top3 .reuse .c-contentReuse__block__content ul li {
                float: left;
                margin-right: 20px;
                color: #fff;
                list-style: none; }
                .l-conts .p-top3 .reuse .c-contentReuse__block__content ul li.info01, .l-conts .p-top3 .reuse .c-contentReuse__block__content ul li.info02, .l-conts .p-top3 .reuse .c-contentReuse__block__content ul li.info03 {
                  width: 100px;
                  height: 30px;
                  background-color: #c80000;
                  text-align: center;
                  display: table-cell;
                  vertical-align: middle; }
                .l-conts .p-top3 .reuse .c-contentReuse__block__content ul li.signal {
                  font-size: 16px; }
  .l-conts .p-top5 {
    width: 100%;
    margin-top: 50px; }

.purchase {
  margin-top: 30px; }

.c-shopItems {
  margin-top: 50px;
  margin-bottom: 50px; }

.priceList {
  margin-top: 30px; }
  .priceList .c-priceList__body {
    width: 100%;
    margin-top: 20px; }
    .priceList .c-priceList__body .c-priceList__Box {
      margin-bottom: 20px; }
      .priceList .c-priceList__body .c-priceList__Box__title h2 {
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 15px;
        font-weight: normal;
        color: #fff;
        background-color: #c80000;
        font-size: 20px;
        line-height: 1rem; }
      .priceList .c-priceList__body .c-priceList__Box__content {
        width: 100%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        background-color: #f3f1e6; }
        .priceList .c-priceList__body .c-priceList__Box__content .photo_priceList {
          width: 35%;
          float: left;
          margin-left: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
          margin-right: 15px; }
          .priceList .c-priceList__body .c-priceList__Box__content .photo_priceList img {
            max-width: 100%;
            height: auto; }
        .priceList .c-priceList__body .c-priceList__Box__content .info_priceList {
          width: 55%;
          float: left;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 15px; }
          .priceList .c-priceList__body .c-priceList__Box__content .info_priceList h2 {
            font-size: 24px; }
          .priceList .c-priceList__body .c-priceList__Box__content .info_priceList span {
            font-size: 34px;
            color: #c80000;
            font-weight: bold; }
          .priceList .c-priceList__body .c-priceList__Box__content .info_priceList .p1 {
            font-size: 14px;
            color: #555;
            margin-bottom: 28px; }
          .priceList .c-priceList__body .c-priceList__Box__content .info_priceList ul li {
            font-size: 13px;
            list-style: none; }
            .priceList .c-priceList__body .c-priceList__Box__content .info_priceList ul li a {
              background: url(../images/red_Arrow.png) no-repeat left center;
              padding-left: 15px;
              text-decoration: none;
              color: #000; }
          .priceList .c-priceList__body .c-priceList__Box__content .info_priceList .p2 {
            color: #c80000;
            margin-bottom: 10px;
            font-size: 14px; }
            .priceList .c-priceList__body .c-priceList__Box__content .info_priceList .p2 span {
              font-size: 18px; }
          .priceList .c-priceList__body .c-priceList__Box__content .info_priceList .p3 {
            font-size: 12px;
            color: #000;
            margin-bottom: 10px; }
        .priceList .c-priceList__body .c-priceList__Box__content .ex {
          width: 90%;
          display: block;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid #c80000;
          padding: 12px 8px 18px 10px;
          font-size: 12px; }
    .priceList .c-priceList__body .c-notice {
      width: 100%;
      overflow: hidden;
      background-color: #444; }
      .priceList .c-priceList__body .c-notice__title {
        padding-top: 17px;
        padding-bottom: 17px;
        background-color: #333; }
        .priceList .c-priceList__body .c-notice__title h2 {
          text-align: center;
          font-size: 28px;
          color: #dfb433; }
      .priceList .c-priceList__body .c-notice__body {
        width: 90%;
        display: block;
        margin: 10px auto; }
        .priceList .c-priceList__body .c-notice__body ul li {
          list-style: none; }
          .priceList .c-priceList__body .c-notice__body ul li a {
            background: url(../images/left_border.png) no-repeat left top;
            padding-left: 10px;
            text-decoration: none;
            color: #fff;
            font-size: 12px; }
  .priceList .c-calFee {
    width: 100%;
    overflow: hidden;
    margin-top: 50px; }
    .priceList .c-calFee__body .c-exCalculation {
      background-color: #444; }
      .priceList .c-calFee__body .c-exCalculation__title {
        background-color: #333;
        padding-top: 17px;
        padding-bottom: 17px; }
        .priceList .c-calFee__body .c-exCalculation__title h2 {
          text-align: center;
          font-size: 28px;
          color: #dfb433; }
      .priceList .c-calFee__body .c-exCalculation__content {
        position: relative;
        overflow: hidden; }
        .priceList .c-calFee__body .c-exCalculation__content img {
          margin-top: 15px;
          margin-left: 12px;
          margin-bottom: 20px; }
        .priceList .c-calFee__body .c-exCalculation__content .arrowCal, .priceList .c-calFee__body .c-exCalculation__content .arrowCal2, .priceList .c-calFee__body .c-exCalculation__content .arrowCal3 {
          position: absolute;
          left: 50%;
          top: 70px; }
        .priceList .c-calFee__body .c-exCalculation__content .arrowCal2 {
          top: 180px; }
        .priceList .c-calFee__body .c-exCalculation__content .arrowCal3 {
          top: 308px;
          margin-bottom: 20px; }
        .priceList .c-calFee__body .c-exCalculation__content .amount {
          width: 660px;
          display: block;
          margin-top: 15px;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          background-color: #f3f1e6; }
          .priceList .c-calFee__body .c-exCalculation__content .amount h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #c80000;
            font-size: 16px;
            line-height: 1.2em; }
            .priceList .c-calFee__body .c-exCalculation__content .amount h3 span {
              font-size: 26px; }
  .priceList .infoPrice {
    border: 1px solid #fff;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 10px;
    font-size: 12px; }
    .priceList .infoPrice h3 {
      color: #dfb433;
      font-size: 18px;
      font-weight: normal; }
      .priceList .infoPrice h3 span {
        color: #fff;
        font-size: 13px; }
    .priceList .infoPrice p {
      margin-bottom: 0; }

.faq {
  margin-top: 30px; }
  .faq .l-main .l-conts .c-faq__body {
    width: 100%;
    overflow: hidden; }
    .faq .l-main .l-conts .c-faq__body__title {
      background-color: #c80000; }
      .faq .l-main .l-conts .c-faq__body__title h2 {
        color: #fff;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: normal; }
    .faq .l-main .l-conts .c-faq__body__content {
      padding: 20px 20px 30px 20px;
      background-color: #f3f1e6;
      color: #000;
      font-size: 12px;
      margin-bottom: 20px; }
      .faq .l-main .l-conts .c-faq__body__content:last-child {
        margin-bottom: 50px; }

.c-contact {
  margin-bottom: 50px; }
  .c-contact fieldset {
    border: none; }
  .c-contact table {
    width: 100%; }
  .c-contact th,
  .c-contact td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    color: #fff;
    font-size: 13px; }
  .c-contact th {
    background: #333;
    width: 30%; }
  .c-contact td {
    background: #444;
    width: 70%; }

/*------------------------------------------------------------
	houjin
------------------------------------------------------------*/
.checkHoujin {
  margin-bottom: 0; }

.coporation {
  max-width: 1000px;
  height: 180px;
  margin-top: 30px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .coporation ul li {
    list-style: none;
    float: left;
    width: 33.3335%; }
    .coporation ul li img {
      max-width: 100%; }

/*------------------------------------------------------------
	houjin_gyomuyou
------------------------------------------------------------*/
.gyoumuyou {
  width: 100%; }
  .gyoumuyou img {
    display: block;
    margin: 35px auto; }

.c-gyoumuyou .collection, .c-tenpo .collection, .c-kagukaden .collection {
  margin-top: 50px; }
  .c-gyoumuyou .collection_body, .c-tenpo .collection_body, .c-kagukaden .collection_body {
    width: 100%;
    overflow: hidden; }
    .c-gyoumuyou .collection_body .thumbnail, .c-tenpo .collection_body .thumbnail, .c-kagukaden .collection_body .thumbnail {
      width: 250px;
      height: 200px;
      margin-top: 30px;
      margin-bottom: 50px;
      float: left;
      background-color: #d8dad9;
      position: relative;
      border-radius: 5px; }
      .c-gyoumuyou .collection_body .thumbnail:first-child, .c-tenpo .collection_body .thumbnail:first-child, .c-kagukaden .collection_body .thumbnail:first-child {
        margin-left: 50px; }
      .c-gyoumuyou .collection_body .thumbnail span, .c-tenpo .collection_body .thumbnail span, .c-kagukaden .collection_body .thumbnail span {
        position: absolute;
        top: 10px;
        background-color: #c80000;
        color: #fff;
        padding: 6px 10px 6px 12px;
        font-size: 16px; }
    .c-gyoumuyou .collection_body .arrow_houjin, .c-tenpo .collection_body .arrow_houjin, .c-kagukaden .collection_body .arrow_houjin {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 115px;
      float: left; }

/*------------------------------------------------------------
	houjin_tenpo
------------------------------------------------------------*/
.tenpo {
  width: 100%; }
  .tenpo img {
    display: block;
    margin: 35px auto; }

.checkKojin {
  margin-bottom: 0; }

.c-kagukaden {
  margin-bottom: 45px; }

.gomiihin {
  width: 100%; }
  .gomiihin .banner_gomiihin {
    display: block;
    margin: 35px auto; }
  .gomiihin .c-gomiihin {
    padding-top: 35px; }
    .gomiihin .c-gomiihin p {
      text-align: justify; }
    .gomiihin .c-gomiihin ul {
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
      padding: 0; }
      .gomiihin .c-gomiihin ul li {
        float: left;
        list-style: none;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        padding: 0; }
        .gomiihin .c-gomiihin ul li:nth-of-type(1) {
          margin-left: 0; }
        .gomiihin .c-gomiihin ul li:nth-of-type(4) {
          margin-right: 0;
          margin-left: 10px; }
        .gomiihin .c-gomiihin ul li:nth-of-type(5) {
          margin-left: 0; }
        .gomiihin .c-gomiihin ul li:last-of-type {
          margin-right: 0;
          margin-left: 10px; }
        .gomiihin .c-gomiihin ul li img {
          margin: 0; }
    .gomiihin .c-gomiihin .pagh03 a {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
