.l-footer{
    padding-top: 10px;
    width: 100%;
   .c-footer{
       max-width: 1000px;
       display: block;
       margin: 0 auto;
       height: 240px;
       background: url(../images/bg_footer.png) top center;
       &__Title{
            display: table;
            position: relative;
            list-style-type: none;
            li{
                float: left;
                background: none;
                display: table-cell;
                vertical-align: middle;
                margin-top: 30px;
                margin-left: 20px;
                margin-right: 15px;
                a{
                    text-decoration: none;
                    color: #fff;
                    background: url(../images/arrow_sidebar.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-left: 15px;
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
        .c-fNaviUl{
            &__g1{
                width: 40%;
                float: left;
                list-style: none;
                // margin-bottom: 50px;
                margin-top: 40px;
                margin-left: 20px;
                ul{
                    li{
                        list-style: none;
                        margin-top: 5px;
                            a{
                            text-decoration: none;
                            color: #fff;
                            background: url(../images/arrow_sidebar.png);
                            background-repeat: no-repeat;
                            background-position: left center;
                            padding-left: 15px;
                            font-size: 13px;
                            line-height: 1.5;
                        }
                    }
                }
            }
            .c-fNaviUl__g2{
                @extend .c-fNaviUl__g1 ;
                 ul{
                    li{
                        a{
                            background: url(../images/arrow_sidebar01.png);
                            background-repeat: no-repeat;
                            background-position: left center;
                            padding-left: 15px;
                            font-size: 13px;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}
.c-pageTop{
    max-width: 1000px;
    display: block;
    position: relative;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    button{
        background: none;
        border: none;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.coppy-right{
    max-width: 1000px;
    height: 20px;
    display: block;
    margin: 0 auto;
    h3{
        color: #fff;
        float: right;
        font-size: 11px;
    }
}