body{
    background-color: #000;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.l-main{
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.l-conts{
    width: 700px;
    float: left;
    margin-right: 50px;
}