.l-sideBar{
    width: 250px;
    float: right;
    .Box1{
        width: 100%;
        margin: 22px 0px;
        .c-title{
            font-size: 18px;
            text-align: center;
            background-color: #333;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 5px 20px;
            span{
                color: #fff;
                background-color: #333;
            }
        }
        .c-sNavi{
            width: 98%;
            border-left: 2px solid #333;
            border-right: 2px solid #333;
            border-bottom: 10px solid #333;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            li{
                
                width: 85%;
                border-bottom: 1px solid #333;
                padding: 10px ;
                margin-bottom: 5px;
                display: block;
                margin: 0 auto;
                &:last-of-type{
                    border-bottom: none;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                    background: url(../images/arrow_sidebar.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-left: 20px; 
                }
            }
        }
    }
    .Box2{
        @extend .Box1;
        .c-title{
            background-color: #c80000;
            span{
                background-color: #c80000;
            }
        }
        .c-sNavi{
            border-left: 2px solid #c80000;
            border-right: 2px solid #c80000;
            border-bottom: 10px solid #c80000;
            li{
                width: 85%;
                &:last-of-type{
                    border-bottom: none;
                }
                a{
                    background: url(../images/arrow_sidebar01.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-left: 20px;
                }
            }
        }
    }
    .Box3{
        border-top: 5px solid #333;
        border-bottom: 5px solid #333;
        li{
             padding: 10px;
             border-bottom: 1px dotted #333;
             list-style: none;
             a{
                 color: #fff;
                 text-decoration: none;
                 background: url(../images/arrow_sidebar.png);
                 background-repeat: no-repeat;
                 background-position: left center;
                 padding-left: 20px;
             }
        }
    }
}
