.c-contact{
    margin-bottom: 50px;
    fieldset{
        border: none;
    }
    table{
        width: 100%;
    }
    th,
    td{
        padding: 10px;
        text-align: left;
        vertical-align: middle;
        font-weight: normal;
        color: #fff;
        font-size: 13px;
    }
    th{
        background: #333;
        width:30%;
    }
    td{
        background: #444;
        width: 70%;
    }
}