.faq{
    margin-top: 30px;
    .l-main{
        .l-conts{
            .c-faq{
                &__body{
                    width: 100%;
                    overflow: hidden;
                    &__title{
                        background-color: #c80000;
                        h2{
                            color: #fff;
                            padding-top: 15px;
                            padding-left: 15px;
                            padding-bottom: 10px;
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                    &__content{
                        padding: 20px 20px 30px 20px;
                        background-color: #f3f1e6;
                        color: #000;
                        font-size: 12px;
                         margin-bottom: 20px;
                         &:last-child{
                             margin-bottom: 50px;
                         }
                    }
                }
            }
        }
    }
}