.gomiihin{
    width: 100%;
    .banner_gomiihin{
        display: block;
        margin: 35px auto;
    }
    .c-gomiihin{
        padding-top: 35px;
        p{
            text-align: justify;
        }
        ul{
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            padding: 0;
            li{
                float: left;
                list-style: none;
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: 20px;
                padding: 0;
                &:nth-of-type(1){
                    margin-left: 0;
                }
                &:nth-of-type(4){
                    margin-right: 0;
                    margin-left: 10px;
                }
                &:nth-of-type(5){
                    margin-left: 0;
                }
                &:last-of-type{
                    margin-right: 0;
                    margin-left: 10px;
                }
                img{
                    margin: 0;
                }
            }
        }
        .pagh03{
            a{
                color: #fff;
            }
        }
    }
}