/*------------------------------------------------------------
	houjin
------------------------------------------------------------*/
.checkHoujin{
    @extend .check ;
    margin-bottom: 0;
}

.coporation{
    max-width: 1000px;
    height: 180px;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ul{
        li{
            list-style: none;
            float: left;
            width: 33.3335%;
            img{
                max-width: 100%;
            }
        }
    }
}

/*------------------------------------------------------------
	houjin_gyomuyou
------------------------------------------------------------*/
.gyoumuyou{
    width: 100%;
    img{
        display: block;
        margin: 35px auto;
    }
}
.c-gyoumuyou{
    .collection{
        margin-top: 50px;
        &_body{
            width: 100%;
            overflow: hidden;
            .thumbnail{
                width: 250px;
                height: 200px;
                margin-top: 30px;
                margin-bottom: 50px;
                float: left;
                background-color: #d8dad9;
                position: relative;
                border-radius: 5px;
                &:first-child{
                    margin-left: 50px;
                }
                span{
                    position: absolute;
                    top: 10px;
                    background-color: #c80000;
                    color: #fff;
                    padding: 6px 10px 6px 12px;
                    font-size: 16px;
                }
            }
            .arrow_houjin{
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 115px;
                float: left;
            }
        }
    }
}
/*------------------------------------------------------------
	houjin_tenpo
------------------------------------------------------------*/
.tenpo{
    width: 100%;
    img{
        display: block;
        margin: 35px auto;
    }
}
.c-tenpo{
    @extend .c-gyoumuyou ;
}