.priceList{
    margin-top: 30px;
    .c-priceList{
        &__body{
            width: 100%;
            margin-top: 20px;
            .c-priceList__Box{
                margin-bottom: 20px;
                &__title{
                    h2{
                        padding-top: 14px;
                        padding-bottom: 10px;
                        padding-left: 15px;
                        font-weight: normal;
                        color: #fff;
                        background-color:#c80000;
                        font-size: 20px;
                        line-height: 1rem;
                    }
                }
                &__content{
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    overflow: hidden;
                    background-color: #f3f1e6;
                    .photo_priceList{
                        width: 35%;
                        float: left;
                        margin-left: 20px;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        margin-right: 15px;
                        img{
                            max-width: 100%;
                            height:auto;
                        }
                    }
                    .info_priceList{
                        width: 55%;
                        float: left;
                        margin-right: 20px;
                        margin-top: 20px;
                        margin-bottom: 15px;
                        h2{
                            font-size: 24px;
                        }
                        span{
                            font-size: 34px;
                            color: #c80000;
                            font-weight: bold;
                        }
                        .p1{
                            font-size: 14px;
                            color: #555;
                            margin-bottom: 28px;
                        }
                        ul{
                            li{
                                font-size: 13px;
                                list-style: none;
                                a{
                                    background: url(../images/red_Arrow.png) no-repeat left center;
                                    padding-left: 15px;
                                    text-decoration: none;
                                    color: #000;
                                }
                            }
                        }
                        .p2{
                            color: #c80000;
                            margin-bottom: 10px;
                            font-size: 14px;
                            span{
                                font-size: 18px;
                            }
                        }
                        .p3{
                            font-size: 12px;
                            color: #000;
                            margin-bottom: 10px;
                        }
                    }
                    .ex{
                        width: 90%;
                        display: block;
                        margin-bottom: 20px;
                        margin-left: auto;
                        margin-right: auto;
                        border: 1px solid #c80000;
                        padding: 12px 8px 18px 10px;
                        font-size: 12px;
                    }
                }
            }
            .c-notice{
                width: 100%;
                overflow: hidden;
                background-color: #444;
                &__title{
                    padding-top: 17px;
                    padding-bottom: 17px;
                    background-color: #333;
                    h2{
                        text-align: center;
                        font-size: 28px;
                        color: #dfb433;
                    }
                }
                &__body{
                    width: 90%;
                    display: block;
                    margin: 10px auto;
                    ul {
                        li{
                            list-style: none;
                            a{
                                background: url(../images/left_border.png) no-repeat left top;
                                padding-left: 10px;
                                text-decoration: none;
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .c-calFee{
        width: 100%;
        overflow: hidden;
        margin-top: 50px;
        &__body{
            .c-exCalculation{
                background-color: #444;
                &__title{
                    background-color: #333;
                    padding-top: 17px;
                    padding-bottom: 17px;
                    h2{
                        text-align: center;
                        font-size: 28px;
                        color: #dfb433;
                    }
                }
                &__content{
                    position: relative;
                    overflow: hidden;
                    img{
                        margin-top: 15px;
                        margin-left: 12px;
                        margin-bottom: 20px;
                    }
                    .arrowCal{
                        position: absolute;
                        left: 50%;
                        top: 70px;
                    }
                    .arrowCal2{
                        @extend .arrowCal ;
                        top: 180px;
                    }
                    .arrowCal3{
                        @extend .arrowCal ;
                        top: 308px;
                        margin-bottom: 20px;
                    }
                    .amount{
                        width: 660px;
                        display: block;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        margin-left: auto;
                        margin-right: auto;
                        background-color: #f3f1e6;
                        h3{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            color: #c80000;
                            font-size: 16px;
                            line-height: 1.2em;
                            span{
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
    .infoPrice{
        border: 1px solid #fff;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 80px;
        padding: 10px;
        font-size: 12px;
        h3{
            color: #dfb433;
            font-size: 18px;
            font-weight: normal;
            span{
                color: #fff;
                font-size: 13px;
            }
        }
        p{
            margin-bottom: 0;
        }
    }
}