
/*----------------------------
    top
----------------------------*/
.p-top{
    max-width: 1000px;
    position: relative;
    display: block;
    margin: 0 auto;
}

/*-------------------------------------------------------------------
    p-top1
--------------------------------------------------------------------*/
.p-top1{
    background: url(../images/bg_pTop01.png) no-repeat top center;
    width: 100%;
    height: 770px;
    margin-bottom: 45px;
    position: relative;
    .c-leftBox{
        width: 400px;
        height: 470px;
        left: 50px;
        position: absolute;
        bottom: 30px;
        &__title{
            height: 30px;
            background-color: #c80000;
            opacity: 1;
            h2{
                text-align: center;
                color: #fff;
                font-size: 20px;
                vertical-align: middle;
            }
        }
        &__content{
            height: 440px;
            background: rgba(255, 255, 255, 0.6);
            .thumbnail{
                width: 100%;
                overflow: hidden;
                margin-bottom: 10px;
                padding-top: 15px;
                img{
                    max-width: 100%;
                    float: left;
                    margin-left: 5%;
                    z-index: 999;
                }
                .txt{
                    float: left;
                    width: 58%;
                    margin-left: 5%;
                    text-align: left;
                    h3{
                        font-size: 16px;
                    }
                    span{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .c-rightBox{
        width: 400px;
        height: 470px;
        right: 50px;
        position: absolute;
        bottom: 30px;
        &__title{
            height: 30px;
            background-color: #000000;
            opacity: 1;
            h2{
                text-align: center;
                color: #fff;
                font-size: 20px;
                vertical-align: middle;
            }
        }
        &__content{
            height: 440px;
            background: rgba(255, 255, 255, 0.6);
            .thumbnail{
                width: 100%;
                overflow: hidden;
                margin-bottom: 10px;
                padding-top: 15px;
                img{
                    max-width: 100%;
                    float: left;
                    margin-left: 5%;
                    z-index: 999;
                }
                .txt{
                    float: left;
                    width: 58%;
                    margin-left: 5%;
                    text-align: left;
                    h3{
                        font-size: 16px;
                    }
                    span{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
/*-------------------------------------------------------------------
    p-top2
--------------------------------------------------------------------*/
.p-top2{
    width: 100%;
    height: 670px;
    background: url(../images/bg_pTop02.png) no-repeat top center;
    position: relative;
    .c-transBox{
        width: 450px;
        height: 230px;
        margin-left: 35px;
        top: 150px;
        position: absolute;
        &__title{
            h2{
                background-color: #c80000;
                color: #fff;
                font-size: 20px;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 15px;
                line-height: 1em;
            }
        }
        &__content{
            width: 100%;
            height: 190px;
            background: url(../images/bg_car01.jpg) no-repeat top center;
            h4{
                padding-left: 15px;
                font-size: 16px;
            }
            span{
                padding-left: 15px;
                font-size: 24px;
                color:#c80000;
                font-weight: bold;
            }
            ul{
                padding-left: 15px;
                li{
                    font-size: 13px;
                    list-style: none;
                    a{
                        background: url(../images/red_Arrow.png) no-repeat left center;
                        padding-left: 15px;
                        text-decoration: none;
                        color: #000;
                    }
                   
                }
            }
            &__notice{
                padding-left: 15px;
                margin-top: 37px;
                h5{
                    font-size: 14px;
                    color: #c80000;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
    .c-transBox02{
        @extend .c-transBox ;
        right: 35px;
        &__title{
            @extend .c-transBox__title ;
        }
        &__content{
            @extend .c-transBox__content ;
            background: url(../images/bg_car02.jpg) no-repeat top center;
            &__notice{
                @extend .c-transBox__content__notice ;
            }
        }
    }
    .c-transBox03{
        @extend .c-transBox ;
        bottom: 30px;
        top: 410px;
        &__title{
            @extend .c-transBox__title ;
        }
        &__content{
            @extend .c-transBox__content ;
            background: url(../images/bg_car03.jpg) no-repeat top center;
            &__notice{
                @extend .c-transBox__content__notice ;
            }
        }
    }
    .c-transBox04{
        @extend .c-transBox ;
        bottom: 30px;
        top: 410px;
        right: 35px;
        &__title{
            @extend .c-transBox__title ;
        }
        &__content{
            @extend .c-transBox__content ;
            background: url(../images/bg_car04.jpg) no-repeat top center;
            &__notice{
                @extend .c-transBox__content__notice ;
            }
        }
    }
}

.check{
    width: 100%;
    height: 70px;
    background-color: #333;
    display: table;
    margin-bottom: 40px;
    h2{
        color: #dfb433;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-size: 28px;
        font-weight: normal;
        word-spacing: 21px;
    }
}
.l-conts{
    p{
        color: #fff;
        margin-bottom: 40px;
        text-align: left;
        font-size: 13px;
    }
/*-------------------------------------------------------------------
    p-top3
--------------------------------------------------------------------*/
    .p-top3{
        width: 100%;
        
        .reuse{
            width: 100%;
            margin-bottom: 50px;
            .c-titleReuse{
                width: 100%;
                height: 60px;
                background-color: #333;
                display: table;
                h2{
                    color: #dfb433;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
            .c-contentReuse{
                background-color: #444;
                height: 760px;
                &__block{
                    width: 665px;
                    display: block;
                    margin: 0 auto;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    overflow: hidden;
                    border-bottom: 1px solid #888;
                    
                    &__image{
                        float: left;
                        width: 30%;
                        img{
                            max-width: 100%;
                        }
                    }
                    &__content{
                        float: left;
                        width: 65%;
                        height: 208px;
                        margin-left: 18px;
                        position: relative;
                        h3{
                            font-size: 18px;
                            color: #dfb433;
                        }
                        p{
                            font-size: 12px;
                            color: #fff;
                            line-height: 1.5em;
                        }
                        ul{
                            position: absolute;
                            bottom: 0px;
                            display: table;
                            li{
                                float: left;
                                margin-right: 20px;
                                color: #fff;
                                list-style: none;
                                &.info01{
                                    width: 100px;
                                    height: 30px;
                                    background-color: #c80000;
                                    text-align: center;
                                    display: table-cell;
                                    vertical-align: middle;
                                }
                                &.info02{
                                    @extend li.info01 ;
                                }
                                &.info03{
                                    @extend li.info01 ;
                                }
                                &.signal{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
/*-------------------------------------------------------------------
    p-top4
--------------------------------------------------------------------*/
    .p-top4{}
/*-------------------------------------------------------------------
    p-top5
--------------------------------------------------------------------*/
    .p-top5{
        width: 100%;
        margin-top: 50px;
    }
}
