.c-flow{
    position: relative;
    &__body{
        img{
            display: block;
            margin: 0 auto;
        }
        &__feature01{
            width: 100%;
            background-color: #444;
            margin-top: 20px;
            overflow: hidden;
            .feature01-content{
                width: 60%;
                float: left;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                .redS{
                    background-color: #c80000;
                    color: #fff;
                    padding: 5px 10px;
                }
                p{
                    margin-top: 15px;
                    margin-bottom: 12px;
                    font-size: 12px;
                }
                .contact{
                    width: 100%;
                    background-color: #333;
                    h4{
                        text-align: center;
                        color: #dfb433;
                        font-size: 15px;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                        img{
                            float: left;
                            margin-left: 20px;
                            margin-top: 7px;
                        }
                        .tell{
                            vertical-align: middle;
                            font-size: 26px;
                        }
                        &:last-of-type{
                            margin-left: 20px;
                            padding-bottom: 12px;
                            .redS2{
                                @extend .redS ;
                                padding: 2px 5px;
                            }
                        }
                    }
                }
            }
            .feature01-image{
                width: 35%;
                margin-top: 20px;
                float: right;
            }
        }
        .arrowF{
            position: absolute;
            left: 25px;
            top: 408px;
        }
        .arrowF1{
            @extend .arrowF ;
            top: 628px;
        }
        .arrowK{
            @extend .arrowF ;
            top: 590px;
        }
        .arrowK1{
            @extend .arrowK ;
            top: 810px;
        }
        &__feature02{
            @extend .c-flow__body__feature01 ;
            .feature02-content{
                @extend .feature01-content ;
            }
            .feature02-image{
                @extend .feature01-image ;
                padding-bottom: 20px;
            }
        }
        
        &__feature03{
            @extend .c-flow__body__feature02 ;
            .feature03-content{
                @extend .feature02-content ;
            }
            .feature03-image{
                @extend .feature02-image ;
                
            }
        }
        &__feature04{
            margin-top: 35px;
            .feature04-title{
                background-color: #333;
                border-bottom: 2px solid #000; 
                width: 100%;
                h2{
                    color: #dfb433;
                    font-size: 18px;
                    padding: 12px 20px;
                }
            }
            .feature04-content{
                background-color: #444;
                padding: 10px 20px;
                ul{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: #fff;
                            padding-left: 15px;
                            background: url(../images/red_Arrow.png) no-repeat left center;
                        }
                    }
                }
            }
        }
    }
}