.c-entry-photo{
    img{
        display: block;
        margin: 0 auto;
    }
}
.c-entry-body{
    margin-top: 10px;
    width: 100%;
    &__01{
        width: 100%;
        background-color: #333;
        border: 1px solid #c80000;
        position: relative;
        margin-bottom: 30px;
        img{
            position: absolute;
            top: -12px;
            left: -1px;
        }
        p{
            padding:22px 10px;
            text-align: justify;
            margin-bottom: 0 !important;
        } 
    }
    &__02{
        @extend .c-entry-body__01 ;
        border: 1px solid #dfb433;
    }
    &__03{
        @extend .c-entry-body__01 ;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 0;
    }
}
