.items{
    width: 100%;
    .c-titleItem{
        width: 100%;
        height: 60px;
        background-color: #333;
        display: table;
        h2{
            color: #dfb433;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 28px;
            font-weight: normal;
        }
    }
    .c-contentItem{
        height: 340px;
        background-color: #444;
        &__list{
            overflow: hidden;
            display: block;
            margin: 0 auto;
            padding-top: 20px;
            line-height: 1.2;
            li{
                list-style: none;
                float: left;
                margin-right: 10px;
                margin-left: 30px;
                .c-contentItem__list__sList{
                    width: 96px;
                    overflow: hidden;
                    ul{
                        li{
                            float: none;
                            margin: 0;
                            padding: 0;
                            a{
                                text-decoration: none;
                                color: #fff;
                                background: url(../images/red_Arrow02.jpg) no-repeat left center;
                                padding-left: 15px;
                                font-size: 12px;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
        &__image{
            width: 100%;
            height: 80px;
            margin-top: 22px; 
            margin-bottom: 22px;
            ul{
                li{
                    float: left;
                    list-style: none;
                    margin-right: 13px;
                    &:nth-child(1){
                        margin-left: 30px;
                    }
                }
            }
        }
        &__info{
            width: 100%;
            height: 30px;
            h2{
                background-color: #c80000;
                color: #fff;
                text-align: center;
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
}