/*--------------------------------
        slide
--------------------------------*/
.c-slide{
    margin-bottom: 45px;
    .slick-dots{
        position: relative;
        float: right;
        width: 16%;
        height: 10px;
        margin-top: 15px;
        li{
            width: 30px;
            height: 2px;
            margin-left: 10px;
            display: table-cell;
            vertical-align: middle;
            float: left;
            background: url(../images/icon_01.png) no-repeat center top;
            &.slick-active{
                background: url(../images/icon_02.png) no-repeat center top;
            }
        }
        button{
            display: none;
        }
    }
    .slick-prev{
        background: url(../images/prev_arrow.jpg) no-repeat;
        content:" ";
        cursor: pointer;
        height: 24px;
        width: 20px;
        border: none;
        position: absolute;
        left: -30px;
        bottom: 20px;
    }
    .slick-next{
        background: url(../images/next_arrow.png) no-repeat;
        content:" ";
        cursor: pointer;
        height: 24px;
        width: 20px;
        border: none;
        position: absolute;
        right: -30px;
        bottom: 20px;
    }
}