.c-titleMain{
    background: url(../images/bg_titleMain.jpg);
    margin-bottom: 15px;
    h2{
        margin-left: 15px;
        font-size: 22px;
    }
}

/*-------------------------------------------------------
        houjin title
---------------------------------------------------------*/
.c-houjinTitle{
    @extend .check ;
    border-bottom: 1px solid #ba9420;
    h2{
        max-width: 1000px;
        margin: 0 auto;
        text-align: left !important;
        padding-left: 23.5%;
    }
}

/*-------------------------------------------------------
        kojin title
---------------------------------------------------------*/
.c-kojinTitle{
    @extend.c-houjinTitle ;
}